.itemCreationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    max-width: 400px;
    margin: auto;
    padding: 16px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.itemCreationForm input {
    font-size: 18px;
}

.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

form button, a {
    background-color: #6b6375;
    color: white;
    padding: 8px 24px;
    font-weight: 400;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block
}

.controls button:hover, .controls a:hover {
    background-color: color-mix(in oklab, #6b6375, #000 20%);
}
